annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
async-timeout==5.0.1
asyncpg==0.31.0
attrs==26.1.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.1
colorama==0.4.6
coloredlogs==15.0.1
dnspython==2.8.0
email-validator==2.3.0
exceptiongroup==1.3.1
fastapi==0.128.0
flatbuffers==25.12.19
greenlet==3.3.1
h11==0.16.0
httpcore==1.0.9
httpx==0.26.0
humanfriendly==10.0
idna==3.11
ImageIO==2.37.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lazy-loader==0.5
llvmlite==0.47.0
mpmath==1.3.0
networkx==3.4.2
numba==0.65.1
numpy==2.2.6
onnxruntime-gpu==1.23.2
opencv-python-headless==4.13.0.92
packaging==26.2
pillow==12.2.0
platformdirs==4.9.6
pooch==1.9.0
protobuf==7.34.1
psycopg2-binary==2.9.11
pwdlib==0.3.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
PyJWT==2.10.1
PyMatting==1.1.15
pyreadline3==3.5.4
python-dotenv==1.2.1
referencing==0.37.0
rembg==2.0.69
requests==2.33.1
rpds-py==0.30.0
scikit-image==0.25.2
scipy==1.15.3
sniffio==1.3.1
SQLAlchemy==2.0.46
starlette==0.50.0
sympy==1.14.0
tifffile==2025.5.10
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.40.0
